<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/ken-burns.css")
    @Styles.Render("~/Content/smoothbox.css")

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div style="min-height: 86vh;">

        <nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #49872E;">
            <a class="navbar-brand mb-0 h1" href="/">Risk analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Articles/List">Довідник методів</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Events/Add">Додати подію</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Classifications/Types">Класифікатор НС</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Classifications/Regions">Статистика по областям</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Адміністратор"))
                        {
                            @:
                            <li class="nav-item"><a class="nav-link" href="/Admin/Users/">Редагування користувачів</a></li>
                        }
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    @*@:Ви увійшли як
                        <span class="span-bold ml-1">@HttpContext.Current.User.Identity.Name</span>*@
                    <a href="/Account/Logoff/" class="btn btn-success ml-1 shadow-lg">Вихід</a>
                }
                else
                {
                    <a href="/Account/Login/" class="btn btn-success ml-1 shadow-lg">Вхід</a>
                    <a href="/Account/Register/" class="btn btn-success ml-1 shadow-lg">Реєстрація</a>
                }


            </div>
        </nav>

        <div class="container-fluid">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #49872E;">
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>Виконав студент групи ТМ-81мп - Кондратенко Ігор; Керівник - доцент Караєва Н.В.</p>
                    <p class="h6">Кафедра автоматизації проектування енергетичних процесів та систем - <a class="text-light" href="http://apeps.kpi.ua/">apeps.kpi.ua</a></p>
                </div>
            </div>

        </div>
    </nav>

</body>
</html>