@using BowTie.BLL.DTO
@using BowTie.BLL.Enums
@model BowTie.View.Models.EventViewModel

@{
    ViewBag.Title = "Перегляд події " + Model.EventName;
    ViewBag.BowTieDiagramId = Model.SavedDiagrams.FirstOrDefault(x => x.DiagramType == DiagramType.BowTie).Id;
    ViewBag.FishBoneDiagramId = Model.SavedDiagrams.FirstOrDefault(x => x.DiagramType == DiagramType.Fishbone).Id;
}
@section Scripts{
    <script type="text/javascript" src="~/Scripts/go-debug.js"></script>
    <script type="text/javascript" src="~/Scripts/diagram.js"></script>
    <script type="text/javascript" src="~/Scripts/FishboneLayout.js"></script>
    <script>
        var rootNodeId = "@Model.Id"; // Event Id
        var diagramName = "@Model.EventName"; // Event name
        var diagramBowTieId = "@ViewBag.BowTieDiagramId";
        var diagramFishboneId = "@ViewBag.FishBoneDiagramId";
        var currUser = "@HttpContext.Current.User.Identity.Name";
    </script>
}
<div class="container-fluid">
    <div style="margin: 0 auto 0 auto;">
        <table class="table table-bordered table1" style="width: 70%; min-width: 650px;">
            <thead class="thead-light">
                <tr><th colspan="2"><span class="text-uppercase">Інформація про подію</span></th></tr>
            </thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <td>
                    @Html.DisplayFor(model => model.EventName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <td>
                    @Html.DisplayFor(model => model.EventDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Region)
                </td>
            </tr>
            @if (Model.District != null)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.District)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.District)
                    </td>
                </tr>
            }
            @if (Model.City != null)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                </tr>
            }
            @if (Model.Address != null)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
            }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Event)
                </td>
            </tr>
            @if (Model.Info != null)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Info)
                    </th>
                    <td>
                        <div class="multiline">@Model.Info</div>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2" class="center"><a class="btn btn-outline-success" href="/Default/Index" target="_blank">Переглянути процес аналізу ризиків з використанням діаграм Bow-Tie та Ісікави</a></td>
            </tr>
        </table>
    </div>
    <div style="position: relative; margin-bottom: 10px; margin-top: 10px;">
        <ul class="list-group list-group-horizontal mb-0">
            <li class="list-group-item flex-fill text-center"><h3 class="mt-2">Діаграма Bow-Tie
                @if (@Model.SavedDiagrams[0].ExpertCheck)
                {
                    <i class="fas fa-check text-success" title="Діаграма перевірена експертом @Model.SavedDiagrams[0].Date"></i>
                }
            </h3></li>
            @if (Request.IsAuthenticated)
            {
                <li class="list-group-item flex-fill text-center"><button type="button" id="saveBowTie" class="btn btn-success" data-toggle="modal" data-target="#saveModal">Зберегти до БД</button></li>
            }
            <li class="list-group-item flex-fill text-center"><input class="btn btn-success" id="refreshButton" type="button" value="Оновити" /></li>
            <li class="list-group-item flex-fill text-center"><a class="btn btn-success" id="downloadButton" href="#" download>Завантажити PNG</a></li>
            @if (User.IsInRole(RolesEnum.Expert.GetName()) || User.IsInRole(RolesEnum.Admin.GetName()))
            {
                using (Html.BeginForm("Verify", "SavedDiagrams"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="savedDiagramId" value="@Model.SavedDiagrams[0].Id" />


                if (!Model.SavedDiagrams[0].ExpertCheck)
                {
                    <input type="hidden" name="isVerified" value="true" />
                    <li class="list-group-item flex-fill text-center"><button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Перевірити</button></li>
                }
                else
                {
                    <input type="hidden" name="isVerified" value="false"/>
                    <li class="list-group-item flex-fill text-center"><button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Скасувати перевірку</button></li>
                }
                }
            }
            <li class="list-group-item flex-fill text-center"><a class="btn btn-success" data-toggle="collapse" href="#collapse1">Історія редагувань</a></li>
        </ul>
        <div id="collapse1" class="collapse">
            <ul class="list-group">
                @if (Model.SavedDiagrams[0].DiagramUpdates.Count() == 0)
                {
                    <li class="list-group-item">Редагувань не знайдено</li>
                }
                @foreach (var save in Model.SavedDiagrams[0].DiagramUpdates)
                {
                    <li class="list-group-item">
                        <button class="btn btn-success loadButton bowTieLoad" id="@save.Id" type="button">
                            @if (save.UserRole == RolesEnum.Expert.GetName())
                            {
                                <i class="fas fa-check"></i>
                            }
                            Завантажити
                        </button>
                        @if (User.IsInRole(RolesEnum.Admin.GetName()))
                        {
                            using (Html.BeginForm("DeleteUpdate", "DiagramUpdates"))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@save.Id" />
                                <input class="btn btn-danger delButton" id="@save.Id" type="submit" value="Видалити" />
                            }
                        }
                        <p>Дата: <span class="updates">@save.Date</span>, Користувач: <span class="updates">@save.UserName</span> (<span class="updates">@save.UserRole</span>)</p>
                        <div class="multiline">@save.Updates</div>
                    </li>
                }
            </ul>
        </div>
        <div id="myDiagramBowTie" style="height: 92vh; width: auto; border: 1px solid;"></div>

        <ul class="list-group list-group-horizontal-sm mt-3">
            <li class="list-group-item flex-fill text-center"><h3 class="mt-2">Діаграма Ісікави
                @if (@Model.SavedDiagrams[1].ExpertCheck)
                {
                    <i class="fas fa-check text-success" title="Діаграма перевірена експертом @Model.SavedDiagrams[1].Date"></i>
                }
            </h3></li>
            @if (Request.IsAuthenticated)
            {
                <li class="list-group-item flex-fill text-center"><button type="button" id="saveFishBone" class="btn btn-success" data-toggle="modal" data-target="#saveModal">Зберегти до БД</button></li>
            }
            <li class="list-group-item flex-fill text-center"><input class="btn btn-success" id="refreshButtonFishBone" type="button" value="Оновити" /></li>
            <li class="list-group-item flex-fill text-center"><a class="btn btn-success" id="downloadButtonFishBone" href="#" download>Завантажити PNG</a></li>
            @if (User.IsInRole(RolesEnum.Expert.GetName()) || User.IsInRole(RolesEnum.Admin.GetName()))
            {
                using (Html.BeginForm("Verify", "SavedDiagrams"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="savedDiagramId" value="@Model.SavedDiagrams[1].Id"/>


                    if (!Model.SavedDiagrams[1].ExpertCheck)
                    {
                        <input type="hidden" name="isVerified" value="true"/>
                        <li class="list-group-item flex-fill text-center"><button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Перевірити</button></li>
                    }
                    else
                    {
                        <input type="hidden" name="isVerified" value="false"/>
                        <li class="list-group-item flex-fill text-center"><button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Скасувати перевірку</button></li>
                    }
                }
            }
            <li class="list-group-item flex-fill text-center"><a class="btn btn-success" data-toggle="collapse" href="#collapse2">Історія редагувань</a></li>
        </ul>
        <div id="collapse2" class="collapse">
            <ul class="list-group">
                @if (Model.SavedDiagrams[1].DiagramUpdates.Count() == 0)
                {
                    <li class="list-group-item">Редагувань не знайдено</li>
                }
                @foreach (var save in Model.SavedDiagrams[1].DiagramUpdates)
                {
                    <li class="list-group-item">
                        <button class="btn btn-success loadButton fishBoneLoad" id="@save.Id" type="button">
                            @if (save.UserRole == RolesEnum.Expert.GetName())
                            {
                                <i class="fas fa-check"></i>
                            }
                            Завантажити
                        </button>
                        @if (User.IsInRole(RolesEnum.Admin.GetName()))
                        {
                            using (Html.BeginForm("DeleteUpdate", "DiagramUpdates"))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@save.Id" />
                                <input class="btn btn-danger delButton" id="@save.Id" type="submit" value="Видалити" />
                            }
                        }
                        <p>Дата: <span class="updates">@save.Date</span>, Користувач: <span class="updates">@save.UserName</span> (<span class="updates">@save.UserRole</span>)</p>
                        <div class="multiline">@save.Updates</div>
                    </li>
                }
            </ul>
        </div>
        <div id="myDiagramFishBone" style="height: 92vh; width: auto; border: 1px solid;"></div>
    </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Зберегти діаграму</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Save", "DiagramUpdates"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("JsonDiagram", "")
                    @Html.Hidden("SavedDiagramId", "")
                    <span class="saveheader">Внесені зміни:</span>
                    <div>
                        <textarea class="form-control text-box multi-line" id="updText" name="Updates" rows="8"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button class="btn btn-success" type="submit" id="saveButton">Зберегти</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>