@model BowTie.View.Models.RegionViewModel

@{
    ViewBag.Title = "Статистика по областям";
    if (ViewBag.StartYear != null && ViewBag.EndYear != null)
    {
        ViewBag.Title += " за " + ViewBag.StartYear.ToString();
        ViewBag.Title += "-" + ViewBag.EndYear.ToString() + " роки";
    }
}

@section Scripts{
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Scripts.Render("~/Scripts/datatables.min.js")
    @Styles.Render("~/Content/datatables.min.css")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });
            $('#stats').DataTable({
                scrollX: true,
                ordering: false,
                info: false,
                language: {
                    zeroRecords: "Нічого не знайдено",
                    search: "Пошук:"
                },
                scrollY: '70vh',
                scrollCollapse: true,
                paging: false
            });
        });
    </script>
    <style>
        .table > tbody > tr > td, .table th {
            padding: 2px;
        }

        .table {
            font-size: 0.8em;
        }

        thead tr th:first-child,
        tbody tr td:first-child {
            width: 20em;
            min-width: 20em;
            max-width: 20em;
        }
    </style>
}
<div class="container-fluid">

    <h2 style="text-align: center;">@ViewBag.Title</h2>
    <div class="yearpicker">
        <h4 class="center">Виберіть роки</h4>
        <form method="get" action="/Classifications/Regions">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="startYear" />
                <span class="input-group-addon ml-2 mr-2">до</span>
                <input type="text" class="input-sm form-control" name="endYear" />
            </div>
            <button type="submit" class="btn btn-success">Відправити</button>
            <a href="/Classifications/Regions" class="btn btn-danger">Відмінити</a>
        </form>
    </div>
    <table id="stats" class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>
                    Тип події
                </th>
                @foreach (var region in Model.Regions)
                {
                    <th>
                        @region.RegionName
                    </th>
                }
            </tr>
        </thead>

        @foreach (var m in Model.EventStats)
        {
            if (m.Stats.Count(x => x.Count != 0) != 0)
            {
                <tr>
                    <td>
                        @m.EventType
                    </td>
                    @foreach (var stat in m.Stats)
                    {
                        <td>
                            @stat.Count
                        </td>
                    }
                </tr>
            }
        }
        <tr>
            <th style="vertical-align: middle;">Усього подій</th>
            @foreach (var region in Model.Regions)
            {
                <th>
                    <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Region", "Events", new {id = region.Id, startYear = ViewBag.StartYear, endYear = ViewBag.EndYear})'">
                        @region.EventsCount
                    </button>
                </th>
            }
        </tr>
    </table>
</div>